@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
}

header h1 {
  margin: 3.4vw;
  padding: 2.5vw;
  font-weight: 900;
}

main {
  display: flex;
  justify-content: space-evenly;
  gap: 9vw;
  margin-top: 5vh;
}

li {
  list-style: none;
  padding: 0.5rem;
}

ul {
  border: 1px solid black;
}

ul li:nth-child(even) {
  background-color: rgb(199, 197, 197);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}

input[type=text],
input[type=number] {
  padding: 6px;
  border: 2px solid black;
}

input[type=submit],
button {
  width: min-content;
  margin-left: auto;
  padding: 3px 14px;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
}

.table-head {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
}

.score-table {
  width: 40%;
}
